<!doctype html>
<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Rick Beerendonk" />

    <title>Computed Properties - Computed Setter</title>
    <link rel="stylesheet" href="../../../../resources/oblicum.css" />
    <link rel="stylesheet" href="../../../../resources/oblicum-vue3.css" />
  </head>
  <body>
    <div id="app">
      <ul>
        <li>
          <span style="color: gray">Original:</span>
          <ol>
            <li v-for="item of items">{{ item }}</li>
          </ol>
        </li>
        <li>
          <span style="color: gray">Computed:</span>
          <!-- v-model = 2-way databinding -->
          <input v-model="csv" />
        </li>
      </ul>
    </div>

    <script type="module" src="main.js"></script>
  </body>
</html>
